.brain-particle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  z-index: 1;
}

.brain-particle-container:active {
  cursor: grabbing;
}

.brain-particle-container canvas {
  width: 100% !important;
  height: 100% !important;
}