.orange-ribbon-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.orange-ribbon-background canvas {
  display: block;
  width: 100%;
  height: 100%;
}

