.particle-model-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 100%;
  max-width: 600px;
  z-index: 1;
  pointer-events: auto;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.particle-model-container:active {
  cursor: grabbing;
}

.particle-model-container canvas {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.particle-model-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

@media (max-width: 968px) {
  .particle-model-container {
    width: 40%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .particle-model-container {
    display: none;
  }
}

